* {
  margin: 0 auto;
  font-size: 25px;
}

/* header */
.navbar__brand {
  margin-left: 2rem;
}
.navbar-nav {
  /* flex: 0.5; */
  margin-left: auto;
  /* padding: 10px; */
  margin-right: 20px;
  align-items: center;
}
.dropdown-menu {
  left: -200px !important;
  min-width: 300px !important;
}

/* admin css */
.admin {
  display: flex;
  margin-top: 50px;
  /* background-color: #c3e6d1; */
  border-radius: 5px;
}
.admin__sidebar {
  flex: 0.3;
  padding: 5px;
}
.admin__main {
  flex: 0.7;
}
.admin > .admin__sidebar > .list-group > .list-group-item > a {
  color: #1b98f5;
  text-decoration: none;
}
.admin > .admin__sidebar > .list-group > .list-group-item {
  width: 90%;
  text-align: center;
}
