* {
  margin: 0 auto;
  font-size: 25px;
}

/* header */
.navbar__brand {
  margin-left: 2rem;
}
.navbar-nav {
  /* flex: 0.5; */
  margin-left: auto;
  /* padding: 10px; */
  margin-right: 20px;
  align-items: center;
}
.dropdown-menu {
  left: -200px !important;
  min-width: 300px !important;
}

/* admin css */
.admin {
  display: flex;
  /* margin-top: 50px; */
  /* background-color: #c3e6d1; */
  /* padding-top: 50px !important; */
  border-radius: 5px;
}
.admin__sidebar,
.admin__canvas {
  padding-top: 50px !important;
  flex: 0.2;
  /* padding: 5px; */
  /* display: flex;
   */
  background-color: rgb(4, 28, 51);
  height: 92vh;
}
.admin__sidebar__list,
.admin__canvas__list {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.admin__sidebar__list > a,
.admin__canvas__list > a {
  padding-top: 10px;
  width: 100%;

  height: 60px;
  text-decoration: none;
  color: #fff;
  /* margin-top: 20px; */
}
.admin__sidebar__list > a:hover,
.admin__canvas__list > a:hover {
  color: #000;
  background-color: #fff;
}
.admin__main {
  flex: 0.8;
}
.admin > .admin__sidebar > .list-group > .list-group-item > a {
  color: #1b98f5;
  text-decoration: none;
}
.admin > .admin__sidebar > .list-group > .list-group-item {
  width: 90%;
  text-align: center;
}
.canvas_button {
  display: none;
}

@media only screen and (max-width: 600px) {
  .admin__main {
    flex: 1;
  }
  .admin__sidebar {
    display: none;
  }
  .canvas_button {
    display: block;
  }
}
